@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.video-overlay {
  position: relative;
}

.video-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 13, 17, 0.3); /* Adjust color and opacity as needed */
}

.video-overlay2::after {
  content: "";
  position: absolute;
  top: 500;
  left: 0;
  right: 0;
  background: rgba(17, 13, 17, 0.9); /* Adjust color and opacity as needed */
}
